<% const arrAutores = autores%>
<% const arrGeneros = generos%>
<% const comic = unidad %>
<% const crear = creando%>
<% var titulo="Crear comic" %>
<% if(comic!=null) {
    titulo="Editar comic"
}%>
<%- include('../fragments/header',{titulo:titulo}) %>
<div class="container" style="margin-top:15px">
    <div class="centerDiv">
        <div class="divInicioContainer maxW white">
            <div class= "text-center" style="margin-bottom: 10px">
                <h2><%=titulo%></h2>
            </div>
            <form action="/vxt/comic/comic-<%=crear ? 'crear' : 'editar/'%><%=crear ? '':comic.idComic%>" method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="isbnComic" class="form-control-label col-sm-2">ISBN:</label>
                            <div class="col-sm-9" style="margin-left: 10px">
                                <input type="text" name="isbnComic" id="isbnComic" class="form-control" value="<%= crear ? '' :comic.isbnComic%>">
                            </div>
                        </div>
                            <div class="form-group row maxW">
                                <label for="nombreComic" class="form-control-label col-sm-2">Nombre:</label>
                                <div class="col-sm-9" style="margin-left: 10px">
                                    <input type="text" name="nombreComic" id="nombreComic" class="form-control" value="<%= crear ? '' :comic.nombreComic%>">
                                </div>
                            </div>
                        <div class="form-group row">
                            <label for="descripcionComic" class="form-control-label col-sm-2">Descripción:</label>
                            <div class="col-sm-12" style="margin-left: 10px">
                                <input type="text" name="descripcionComic" id="descripcionComic" class="form-control" value="<%= crear ? '' :comic.descripcionComic%>">
                            </div>
                        </div>
                            <div class="form-group row">
                                <label for="autorComic" class="form-control-label col-sm-2"> Autor:</label>
                                <div class="col-sm-9" style="margin-left: 10px">
                                    <select name="autorComic" id="autorComic" class="maxW mdb-select colorful-select dropdown-primary md-form" multiple searchable="Buscar..">
                                        <% arrAutores.forEach(
                                        (it) => {%>
                                        <option value="<%=it.idAutor%>"><%=it.nombreAutor%></option>
                                        <%})%>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="generoComic" class="form-control-label col-sm-2"> Genero:</label>
                                <div class="col-sm-9" style="margin-left: 10px">
                                    <select name="generoComic" id="generoComic" class="maxW mdb-select colorful-select dropdown-primary md-form" multiple searchable="Buscar..">
                                        <% arrGeneros.forEach(
                                        (it)=>{%>
                                        <option value="<%=it.idGenero%>"><%=it.nombreGenero%></option>
                                        <%})%>
                                    </select>

                                </div>
                            </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="imagenComic" class="form-control-label col-sm-10 boton boton-sin-seleccion text-box" id="lb-imagen">Subir imagen</label>
                            <div class="col-sm-9" style="margin-left: 10px">
                                <input id="imagenComic"
                                       name="imagenComic"
                                       type="file"
                                       accept="image/*"
                                       hidden
                                       onchange="validarArchivos()">
                            </div>
                        </div>
                        <div class="imgPreview text-box">
                            <img id="imgMuestra" src="" alt="Imagen Previa" class="maxW">
                        </div>
                        <br>
                        <div class="form-group row">
                            <label for="estadoComic" class="form-control-label col-sm-2"> Estado</label>
                            <div class="col-sm-9" style="margin-left: 10px">
                                <input type="checkbox" name="estadoComic" value="true">
                            </div>
                        </div>

                    </div>
                </div>
                <button class="btn btn-block btn-dark">Aceptar</button>
                <a href="../comic/lista">
                    <button type="button" class="btn btn-block btn-danger">Cancelar</button>
                </a>
            </form>
        </div>
    </div>
</div>
<script>
    function validarArchivos(){
      const archivo = document.getElementById('imagenComic');
      console.log(archivo.files);
      const boton = document.getElementById("lb-imagen");
      if(archivo.files.length>0){
        boton.classList.remove("boton-sin-seleccion");
        boton.classList.add("boton-seleccionado");
        boton.innerText="Imagen seleccionada";

        const file = archivo.files[0];
        const reader = new FileReader();
        reader.onload = (eventoLecturaArchivo =>{
          const url = eventoLecturaArchivo.target.result;
          console.log(url);
          const imagenMuestra = document.getElementById('imgMuestra');
          imagenMuestra.src = url;
        });
        reader.readAsDataURL(file);

      }else{
        boton.classList.remove("boton-seleccionado");
        boton.classList.add("boton-sin-seleccion");
        boton.innerText="Subir imagen";
      }

    }
</script>
<%- include('../fragments/footer') %>
